@import '../../styles/variables.scss';

.collection {
  .collection-banner {
    position: relative;
    height: 380px;
    background-image: url('../../assest/image/collection-banner.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 80px;
    overflow: hidden;
    .title {
      font-size: 45px;
      font-weight: 600;
      margin-top: 100px;
    }
    .edit-collection-btn-container {
      position: absolute;
      right: 80px;
      top: 380px;
      transition: top 0.8s ease-in-out;
    }
    &:hover {
      .edit-collection-btn-container {
        top: 100px;
      }
    }
  }
  .collection-content-container {
    padding: 0 80px 80px 80px;
    .collection-information {
      border-radius: 15px;
      max-width: 300px;
      height: fit-content;
      background-color: $whiteColor;
      padding: 30px 25px;
      position: relative;
      margin-top: -140px;
      color: black;
      margin-right: 48px;
      .collection-avatar {
        position: relative;
        max-width: 180px;
        height: 180px;
        border-radius: 5px;
        margin-bottom: 20px;
        .avatar {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
          border: 2px solid $secondary-color;
        }
      }
      .collection-name {
        max-width: 100%;
        width: fit-content;
        font-size: 22px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:hover {
          cursor: pointer;
          color: $secondary-color;
        }
      }
      .collection-description {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        color: $subTextColorFontWhite;
        .show-more,
        .show-less {
          display: inline;
          margin-left: 5px;
          color: $third-color;
          font-weight: 600;
          &:hover {
            cursor: pointer;
            color: $secondary-color;
          }
        }
      }
      .collection-address {
        margin-bottom: 16px;
        .address,
        .copy-icon {
          display: inline;
          &:hover {
            cursor: pointer;
          }
        }
        .address {
          font-size: 16px;
          font-weight: 500;
        }
        .copy-icon {
          margin-left: 12px;
        }
      }
      .total-item-number {
        background-color: $lightGrayColor;
        border-radius: 5px;
        padding: 15px 12px;
        justify-content: space-between;
        font-size: 16px;
        .header {
          font-weight: 600;
        }
      }
    }
    .collection-content {
      margin-top: 36px;
    }
    .no-item-container {
      margin: 0 auto;
      margin-top: 80px;
      flex-direction: column;
      color: $darkGrayColor;
      font-weight: 600;
      font-size: 18px;
      img {
        width: 120px;
      }
      div:first-of-type {
        margin-top: 24px;
      }
      .btn-browse {
        margin-top: 24px;
        width: fit-content;
      }
    }
  }
}
