version: "3"
services:
  ui:
      build:
        context: .
        dockerfile: ./Dockerfile
      volumes:
        - .:/app
      ports:
        - 3000:80
      network_mode: "host"
      command: sleep infinity