$primary_color: #0a1831;
$secondary-color: #dc3545;
$third-color: #8d99ff;
$lightGray: #eeeded;
$pinkColor: #f14d5d;
$titleColor: #000;
$bodyColor: #666;
$lightblueColor: #8d99ff;
$whiteColor: #fff;
$subTextColor: rgba(255, 255, 255, 0.6);
$primary_background_color: #f3f6fd;
$fontSize: 16px;

$bold: 700;
$normal: 400;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
