$primary_color: #0a1831;
$secondary-color: #dc3545;
$third-color: #8d99ff;
$pinkColor: #f14d5d;
$titleColor: #000;
$bodyColor: #666;
$whiteColor: #fff;
$subTextColor: rgba(255, 255, 255, 0.6);
$subTextColorFontWhite: #a5a5a5;
$primary_background_color: #f3f6fd;
$secondary_background_color: #eeeded;
$darkGrayColor: #686974;
$lightGrayColor: #e5e5e5;
$fontSize: 16px;

$bold: 700;
$normal: 400;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 767px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
