$primary_color: #002979;
$secondary_color: #3457d2;
$third_color: #a3aed0;
$primary_background_color: #f3f6fd;
$secondary_background_color: #ffffff;
$bg_color: #041c4a;
$bg_color_active: #1d325d;
$color-text: #ffffff;
$white: #ffffff;
$green: #43a047;
$bg_hover_item: #ccd4e4;
$bg_menu_active: #ccd4e4;
$red: #e53935;
$btn_blue: #002979;
$btn_white: #ffffff;
$dashed-line: rgba(255, 255, 255, 0.2);
$dark_primary_color: #041c49;
$border_color: #e6eaf2;
$table_head: #e1e7f4;
$input-prefix-background: rgba(163, 174, 208, 0.3);
$video-background: #000;

$bold: 700;
$normal: 400;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 767px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);
