@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.custom-process-modal {
    .ant-modal-content {
        border-radius: 12px !important;
    }
    .cancel-sale {
        width: 376px;
        p {
            margin: 0px;
        }
        & > :first-child {
            margin-bottom: 24px;
            font-size: 36px;
            color: $primary_color;
            font-weight: 700;
            @include up-to-size('sm') {
                font-size: 24px;
            }
        }
        .cancel-fixed-price-text {
            font-size: 16px;
            color: $third_color;
            margin-bottom: 32px;
            @include up-to-size('sm') {
                font-size: 14px;
            }
        }
        .btn-never {
            margin-bottom: 16px;
        }
    }
}
