@import '../../../styles/variables.scss';

.default-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: $primary_background_color;
  color: $whiteColor;
  max-width: 100vw;
}
