@import '../../../styles/variables.scss';

.default-layout {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: $primary_background_color;
  color: $whiteColor;
  max-width: 100vw;
}

.ant-modal.custom-loading-modal {
  .ant-modal-content {
    background: transparent !important;
    box-shadow: none;
    width: auto;
  }
  .ant-modal-body {
    display: flex;
    justify-content: center;
  }
}
